* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: max(70px) max(220px) max(110px);
    gap: 30px;
}

/* .sidebar>.one{
    height: 100px;
} */

.header {
    grid-column: 2 / 4;
}